$brand-blue: #008ca8;
$white: white;
$smaller-padding: .7rem;
$big-font: 2rem;
$small-margin: .5rem;

.Direction {
  &__body {
    padding: $smaller-padding;
    background-color: $brand-blue;
    color: $white;

    &-header {
      margin-bottom: $small-margin;
      font-size: $big-font;
    }
  }
}
