.FlightPanel {
  margin-bottom: 1rem;
  &__logo {
    max-width: 4rem;
  }

  &__rightAligned {
    &-green {
      color: #00d775;
      text-align: right;
      font-size: .7rem;
    }
    &-gray {
      color: gray;
      text-align: right;
      font-size: .7rem;
    }
    &-inherit {
      text-align: right;
    }
  }

  &__light {
    color: lightgrey;
  }
  &__agent {
    color: gray;
    font-size: .9rem;
  }
  &__price {
    color: dimgray;
    font-size: 1.7rem;
  }
}
