$direct-color: #00d775;
$smaller-size: .7rem;
$almost-same-size: .9rem;
$bigger-size: 1.7rem;
$gray: gray;
$lightgrey: lightgrey;
$dimgray: dimgray;

.FlightPanel {
  margin-bottom: 1rem;

  &__logo {
    max-width: 4rem;
  }

  &__rightAligned {
    &--direct {
      color: $direct-color;
      font-size: $smaller-size;
      text-align: right;
    }

    &--gray {
      color: $gray;
      font-size: $smaller-size;
      text-align: right;
    }

    &--inherit {
      text-align: right;
    }
  }

  &__light {
    color: $lightgrey;
  }

  &__agent {
    color: $gray;
    font-size: $almost-same-size;
  }

  &__price {
    color: $dimgray;
    font-size: $bigger-size;
  }
}
