$brand-blue: #008ca8;
$white: white;

.TableHeader {
  &__body {
    padding: .7rem;
    background-color: $white;
    color: $brand-blue;

    &-first-el {
      display: inline-block;
      padding-right: 3rem;
    }

    &-last-el {
      float: right;
    }
  }
}
